<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="text">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="center-text mt-4">
        <div class="mb-4">
            <h1><b>Welcome to Pokeneas!</b></h1>
            <h3>Choose an option</h3>
        </div>
        <div>
            <a href="/show_pokejson"><img class="image-margin image" width="300" src="https://storage.googleapis.com/pokenea-imgs/pikachu_json.jpeg" alt="Imagen 1"></a>
    
            <a href="/show_pokecard"><img class="image" width="300" src="https://storage.googleapis.com/pokenea-imgs/jigglypuff_info_2.jpeg" alt="Imagen 2"></a>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>