<nav class="navbar navbar-expand-lg navbar-dark py-0" style="background-color: #f03131;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://storage.googleapis.com/pokenea-imgs/pokeball.png" alt="Logo" class="logo navbar-logo">
            Pokeneas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active nav-text" href="/">Home</a>
                <div class="vr bg-white mx-2 d-none d-lg-block"></div>
                <a class="nav-link active nav-text" href="/pokeneas/show">PokeCards</a>
                <a class="nav-link active nav-text" href="/api/">PokeJson</a>
                <a class="nav-link active nav-text" href="/api/raw">PokeJson (raw)</a>
                
            </div>
        </div>
    </div>
</nav>
<div class="black-line"></div>